<!doctype html>
<html lang="pr-br">

<head>
    <meta charset="utf-8">
    <meta name="autor" content="João Pedro">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Formulario</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link href="css/estilos.css" rel="stylesheet" type="text/css" media="all">
</head>

<body>
    <!-- Começo navbar -->
    <nav class="navbar navbar-expand-lg " data-bs-theme="dark"
        style="background-image: linear-gradient(to bottom, #000000, #16161d, #000000)">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="img/prancheta.png" alt="Icone Java" width="50" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Cadastrar usuário</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Fim navbar -->
    <!-- Começo Formulario -->
    <div class="container">
        <h1 class="imagem">Cadastrar usuário</h1>
        <hr>
        <form method="">
            <!-- linha 1 -->
            <div class="row">
                <div class="col-12 col-md-6 col-lg-7">
                    <div class="input-group mb-3">
                        <span class="input-group-text" >Nome Completo:</span>
                        <input type="text" class="form-control"  id="nome"
                            aria-describedby="inputGroup-sizing-default" required>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-5">
                    <div class="input-group mb-3">
                        <span class="input-group-text" >Data de nascimento:</span>
                        <input type="date" class="form-control" 
                            aria-describedby="inputGroup-sizing-default" required>
                    </div>
                </div>
            </div>
            <!-- linha 2 -->
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="input-group mb-3">
                        <span class="input-group-text" >CPF:</span>
                        <input type="text" class="form-control" id="cpf"
                             placeholder="000.000.000-00" minlenght="14"
                            maxlength="15" required>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="input-group mb-3">
                        <span class="input-group-text" >Telefone:</span>
                        <input type="tel" class="form-control"  id="telefone"
                             placeholder="(00) 00000-0000" minlength="14"
                            maxlength="15" required>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text" >E-mail:</span>
                        <input type="email" class="form-control"  id="email"
                             placeholder="usuario@servidor.com" required>
                    </div>
                </div>
            </div>
            <!-- linha 3 -->
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Gênero:</label>
                        <select class="form-select" id="inputGroupSelect01">
                            <option selected>Escolha seu gênero...</option>
                            <option value="1">Masculino</option>
                            <option value="2">Feminino</option>
                            <option value="3">Outro</option>
                            <option value="4">Não desejo declarar</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Estado civil:</label>
                        <select class="form-select" id="inputGroupSelect01">
                            <option selected>Escolha seu estado civil...</option>
                            <option value="1">Solteiro</option>
                            <option value="2">Casado</option>
                            <option value="3">Viúvo</option>
                            <option value="4">Divorciado</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-5">
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Escolaridade:</label>
                        <select class="form-select" id="inputGroupSelect01">
                            <option selected>Escolha sua Escolaridade...</option>
                            <option value="1">Nivel fundamental</option>
                            <option value="2">Nivel médio</option>
                            <option value="3">Nivel superior</option>
                            <option value="4">Pós-graduação</option>
                            <option value="5">Mestrado</option>
                            <option value="6">Doutorado</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- linha 4 -->
            <div class="row">
                <div class="col-12 col-md-8 col-lg-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text" >CEP:</span>
                        <input type="text" class="form-control"  id="cep"
                             placeholder="00.000-000" minlength="10"
                            maxlength="10" required>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-2">
                    <div class="input-group mb-3">
                        <span class="input-group-text" >UF:</span>
                        <input type="text" class="form-control"  id="estado"
                             minlength="2" maxlength="2" required>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text" >Município:</span>
                        <input type="text" class="form-control"  id="cidade"
                             required>
                    </div>
                </div>
            </div>
            <!-- linha 5 -->
            <div class="row">
                <div class="col-12 col-md-8 col-lg-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text" >Bairro:</span>
                        <input type="text" class="form-control"  id="bairro"
                             required>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-2">
                    <div class="input-group mb-3">
                        <span class="input-group-text" >Número:</span>
                        <input type="text" class="form-control"  id="numero"
                            required>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text" >complemento:</span>
                        <input type="text" class="form-control"  id="complemento"
                             required>
                    </div>
                </div>
            </div>
            <!-- linha 6 -->
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="input-group mb-3">
                        <span class="input-group-text" >Logradouro:</span>
                        <input type="text" class="form-control"  id="logradouro"
                            required>
                    </div>
                </div>
                <div><input class="btn btn-primary" type="submit" value="Submit"></div>
        </form>
        </button>
    </div>
    <!-- fim do formulario -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
</body>