<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spring e Bootstrap</title>

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <!-- favicon -->
    <link href="img/icone.png" rel="shortcut icon" type="image/png">

    <!-- css externo -->
    <link href="css/estilo.css" rel="stylesheet" type="text/css" media="all">
</head>

<body class="bg-dark" data-bs-theme="dark">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg mb-5" data-bs-theme="dark" style="background-color: #16161d;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="img/icone.png" alt="Ícone">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cadastrar">Cadastrar usuário</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/listarUsuario">Listar usuário</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- fim do navbar -->

    <!-- container -->
    <div class="container">
        <h1>Sitema de cadastro de usuários</h1>
        <hr class="mb-5">
        <p class="fs-5 mb-5">
            O que é um CRUD?
            CRUD é um acrônimo em inglês que representa as quatro operações básicas realizadas em sistemas que
            manipulam dados:
            Create (Criar), Read (Ler), Update (Atualizar) e Delete (Excluir).
        </p>
        <div class="row align-items-center mb-5">
            <div class="col-md-6">
                <figure class="code-img mb-0">
                    <img src="img/code-img.jpg" alt="Imagem da página" class="img-fluid">
                </figure>
            </div>
            <div class="col-md-6">
                <p class="fs-5">
                    1. Create (Criar)<br>
                    É a ação de inserir novos dados no sistema.<br>
                    Por exemplo: quando você se cadastra em um site, está criando um novo registro no banco de dados.<br>
                    Exemplo prático: Cadastrar um novo usuário com nome, e-mail e<br><br>
                    2. Read (Ler)<br>
                    É a ação de consultar ou visualizar os dados que estão armazenados.<br>
                    Por exemplo: quando você faz login e vê suas informações na conta, o sistema está lendo os dados do
                    banco.<br>
                    Exemplo prático: Exibir todos os usuários cadastrados ou buscar um usuário específico.<br><br>
                    3. Update (Atualizar)<br>
                    É a ação de modificar dados existentes.<br>
                    Por exemplo: mudar a senha da sua conta ou atualizar o endereço de entrega.<br>
                    Exemplo prático: Atualizar o e-mail de um usuário já cadastrado.
                </p>
            </div>
        </div>
        <div class="row align-items-center mb-5">
            <div class="col-md-6 order-md-1">
                <p class="fs-5 mb-0">
                    4. Delete (Excluir)<br>
                    É a ação de remover dados do sistema.<br>
                    Por exemplo: quando você apaga sua conta ou exclui um post que fez.<br>
                    Exemplo prático: Remover um usuário do sistema.<br><br>
                    Onde o CRUD é usado?<br>
                    CRUD é usado em praticamente todo sistema que envolve um banco de dados. Algumas aplicações comuns
                    incluem:<br>
                    Sistemas de cadastro (clientes, produtos, funcionários, etc.)<br>
                    Plataformas de blogs (criar, ler, editar e excluir postagens)<br>
                    Aplicativos de redes sociais (gerenciar perfis, postagens e comentários)<br><br>
                    <strong>Conclusão</strong><br>
                    Entender o conceito de CRUD é essencial para quem está começando na área de desenvolvimento de
                    software.
                    Ele representa a base da maioria das interações com bancos de dados e é um passo fundamental para
                    construir aplicações funcionais e úteis.
                </p>
            </div>
            <div class="col-md-6 order-md-2">
                <figure class="code-img mb-0">
                    <img src="img/idea.jpg" alt="Imagem da página" class="img-fluid">
                </figure>
            </div>
        </div>
    </div>
    <!-- fim do container -->
    <!-- scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>