<div class="container" th:fragment="footer">
  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
    
    <!-- Logo / Direitos -->
    <div class="col mb-3">
      <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32" aria-hidden="true">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>
      <p class="text-body-secondary">© 2025 Todos os direitos reservados | Desenvolvido por João Pedro Lopes Vieira</p>
    </div>
    
    <!-- Mensagem de apoio -->
    <div class="col mb-3">
      <h5>Nosso Compromisso</h5>
      <p class="text-body-secondary">Juntos podemos trazer esperança para famílias de pessoas desaparecidas. Se você viu alguém, denuncie!</p>
    </div>
    
    <!-- Links úteis -->
    <div class="col mb-3">
      <h5>Links</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-body-secondary">Home</a></li>
        <li class="nav-item mb-2"><a href="/cadastrar" class="nav-link p-0 text-body-secondary">Cadastrar Desaparecido</a></li>
        <li class="nav-item mb-2"><a href="/lista_desaparecidos" class="nav-link p-0 text-body-secondary">Consultar Desaparecidos</a></li>
        <li class="nav-item mb-2"><a href="/faq" class="nav-link p-0 text-body-secondary">FAQ / Ajuda</a></li>
        <li class="nav-item mb-2"><a href="/faq" class="nav-link p-0 text-body-secondary">Política de Privacidade</a></li>
      </ul>
    </div>
    
    <!-- Contato -->
    <div class="col mb-3">
      <h5>Contato</h5>
      <p class="text-body-secondary">Email: <a href="mailto:joaolopesxl@hotmail.com" class="text-body-secondary text-decoration-none">joaolopesxl@hotmail.com</a></p>
      <p class="text-body-secondary">Tel: (61) 99610-6466</p>
    </div>
    
    <!-- Redes sociais -->
    <div class="col mb-3">
      <h5>Siga-nos</h5>
      <a href="https://github.com/joao84ads" target="_blank" class="text-body-secondary me-2">
  <i class="bi bi-github"></i>
      <!-- <a href="#" class="text-body-secondary me-2"><i class="bi bi-facebook"></i></a>
      <a href="#" class="text-body-secondary me-2"><i class="bi bi-instagram"></i></a>
      <a href="#" class="text-body-secondary me-2"><i class="bi bi-whatsapp"></i></a> -->
    </div>
    
  </footer>
</div>
