<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="João Pedro"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello world em Spring</title>

    <!-- css -->
     <link href="css/estilos.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
    <marquee>
        <h1>Olá, Mundo em Spring!!!</h1>
    </marquee>
    <hr/>
    <div class="imagem">
        <figure>
            <img src="img/codigo.jpg" alt="Imagem do código">
        </figure>
    </div>
    <script src="js/script.js"></script>
</body>
</html>